node_modules
dist
build
.DS_Store
.env
remotion-studio*.log
.render-jobs

# Ignore the output video from Git but not videos you import into src/.
out

# Ignore large audio and video files
audio.wav
video.mp4
